@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
body {
  display: flex;
  font-family: "Red Hat Display";
  background: url(/home/ilmoss/Documents/challenges/order-summary-component-main/images/pattern-background-desktop.svg),
    hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
}
#page{
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 10%);
}

#cont {
  padding: 25px;
}

#order {
  text-align: center;
  margin-top: auto;
}

#desc {
  color: hsl(224, 23%, 55%);
  text-align: center;
  margin-bottom: 20px;
}

#payment_plan {
  padding: 10px;
  border-radius: 10px;
  background: hsl(225, 100%, 96%);
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding: 20px;  
}

#payment_plan p {
  margin: 0%;
}
#payment_plan a{
    display: flex;
    justify-content: center;
    align-items: center;

}

#p1{
    font-weight: 700;
}

#p2{
    color: hsl(224, 23%, 55%);
}

#payment-text {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

#page {
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  width: 400px;
  background-color: hsl(225, 100%, 98%);
}

#dance {
  width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#proceed{
    background-color: hsl(245, 75%, 52%);
    border-radius:10px;
    padding: 10px;
    margin: 20px;
    color: white;
    box-shadow:  0px 10px 20px 5px rgba(0, 0,0,10%);
    font-weight: 700;
}

#cancel{
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    display: flex;
    justify-content: center;
    
}

#cancel p{
    margin: 0;
    display: inline;
    justify-content: center;
}

#proceed:hover{
    background-color: hsl(224, 23%, 55%);
    transition: 200ms;
    cursor: pointer;
}

#cancel p:hover{
    color: black;
    cursor: pointer;
}

#page a:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}